

  
  hr {
    height: 20px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(8, 67, 115, 0.5);
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    
    header{
     width: 100%;
     height: 100vh;
     background-repeat: no-repeat;
     background-size: 100% 100%;
    
    }
    
    .mainheader{
     width: 100%;
     height: 70px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     
     background-repeat: no-repeat;
     background-size: cover;
     background-color: white;
	    animation: gradient 15s ease infinite;
      height: 70;
}



    
    .mainheader .logo img{
     width: 110px; height: 40px;
     padding-left: 60px;
    }
    
    .mainheader nav{
     width: 550px;
     display: flex;
     justify-content: space-around;
     align-items: center;
    }
    
    

    .mainheader nav a{
     text-decoration: none;
     color: black;
     font-weight: 550;
     font-family: roboto, Arial, Helvetica, sans-serif;    /* ext-transform: uppercase; */
    cursor: pointer;
     
    }

    .mainheader nav a:hover{
        color: rgb(83, 144, 218);
        transition: color 0.5s;

    }
    
    .menubtn{
     margin-right: 50px;
    }

         
    button.loginbtn {

      background-color:rgb(83, 144, 218);
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  cursor: pointer;
        
      }

      button.loginbtn:hover {
        background-color: rgb(63, 109, 164);
        opacity: 0.8;
        
      

      }
      button.regbtn {
        background-color:rgb(83, 144, 218);
        border: none;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        transition: 0.3s;
        cursor: pointer;

      }

      button.regbtn:hover {
        background-color: rgb(63, 109, 164);
        opacity: 0.8;

        
      }

     
      span.x{

        font-family: roboto , Arial, Helvetica, sans-serif;
        color: white;
      font-weight: bold;
       
      }
      span.y{
        font-family: roboto , Arial, Helvetica, sans-serif;
        color: white;
        font-weight: bold;
      }
     


    
    
    .mainheader button{
     padding: 10px 45px;
     text-align: center;
     font-size: 14px;
     color: #fff;
     border: none;
     border-radius: 10px;
    }

    
    
    
    main{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
    
    main .right-sec{
     padding-right: 70px;
    }
    
    main .left-sec{
     padding-left: 100px;
    }
    
    @keyframes fadeIn {
      from {
          opacity: 0;
          transform: translateY(20px);
      }
      to {
          opacity: 1;
          transform: translateY(0);
      }
  }
    .left-sec h2{
     font-size: 25px;
     text-transform: capitalize;
     font-weight: lighter;
     color: #242424;
     margin-top: 100px;

     opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    animation-delay: 0.5s;
    }
    
    .left-sec h1{
     font-size: 70px;
     text-transform: capitalize;
     font-weight: 700;
     margin: 15px 0;

     opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    animation-delay: 0.7s;
     
  
    }
    
    .left-sec p{
     margin-bottom: 20px;
     font-size: 20px;

     opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    animation-delay: 0.9s;
    }
    
   

    img.database{
        padding-top: 100px;
        height: 650px;
        width: 900px;
        
    }

    div.object {  
    animation-name: object;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes object {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 30px); }
    to   { transform: translate(0, -0px); }    
}

    body {

      height: 100%;
      background-image: url('bg1.jpg'); /* Adjust the path accordingly */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
   
  
                
    
    
    div.about{
        padding-left: 100px;
        padding-top: 60px;
        padding-bottom: 150px;
        /* background-image: url("10703063.jpg");
        background-repeat: no-repeat;
        background-size: cover; */
    }

    div.about h2{
        padding-bottom: 40px;
        position: relative; 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
    }

    div.about h2::after {
        display: block;
          content: '';
         width: 40%;
         height: 3px;
         background: rgb(22, 67, 83);
         position: absolute;
         bottom: 0;
         left: 0;
       }
    
    p.para_about{

        font-size: 22px;
        width: 900px;
        text-align:justify;
        line-height: 50px;
        padding-bottom: 50px;
        padding-top: 60px;
        
        
        }

         

    button.read_class{
        background-color: rgb(238, 244, 245);
        color: rgb(89, 87, 87);
        padding: 10px;
        border-radius: 10px;
        font-size: 16px;
        border-color: #868383;
        

    }
    button.read_class:hover{

        background-position: right center; /* change the direction of the change here */
        color: rgb(27, 68, 138);
        text-decoration: none;
        font-weight: bold;
        
    }

    #first{
        
        height: 4px;
        border: none;
        background: #e8e1e1;
        background-image: linear-gradient(to right, #0f0f50, #29638c, #d1b8b8);
        opacity: 0.3;
    }


    .learn-more {
      background-color:rgb(83, 144, 218);
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 50px;
  color: rgb(250, 244, 244);

  opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    animation-delay: 0.9s;
        
      }

      .learn-more:hover {
        background-color: rgb(63, 109, 164);
        opacity: 0.8;
        
      }

      span.more_button{
        font-family: roboto , Arial, Helvetica, sans-serif;
        color: white;
        font-weight: bold;
      }

      @media screen and (max-width: 600px) {
        /* Styles for screens with a maximum width of 600px */
        header, footer {
            font-size: 14px;
        }

        section {
            padding: 0.5em;
        }
    }

    


    


    
     
    