body {
	  /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);   */
	background-image: url('login.jpg');  
    margin: 0;
    padding: 0;
    font-family: muli,Arial, Helvetica, sans-serif;
	background-size: cover;
    
	
	
}


.center{

	margin-left: 700px;
	margin-top: 250px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 500px;
	border-radius: 10px;
	background-color:#2596be;
    color:rgb(253, 251, 251);

	opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;


    
    
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




.center h1{
	text-align: center;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid rgb(251, 247, 247);
}

.center form{
	padding: 0 40px;
	box-sizing: border-box;
}


form .txt_field{
	position: relative;
	border-bottom: 2px solid #f3efef;
	margin: 30px 0;
}

.txt_field input{
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
	color:white;
}

.txt_field label{
	position: absolute;
	top:50%;
	left:5px;
	color: #f5f2f2;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: .5s;
}


.txt_field span::before{

	content: "";
	position:absolute;
	top: 40px;
	left: 0;
	width: 0%;
	height: 2px;
	background: #f5f7f8;
	transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
	top: -5px;
	color: #f6f7f8;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{

	width: 100%;
}

.pass{

	margin: -5px 0 20px 5px;
	color: #f4f1f1;
	cursor: pointer;
	display: inline-block;
}

.pass:hover{
	text-decoration: underline;

}

input[type="submit"]{
	width: 100%;
	height: 50px;
	border: 1px solid;
	background: rgb(249, 246, 246);
	border-radius: 25px;
	font-size: 18px;
	color:  #2596be;
	font-weight: 700;
	cursor: pointer;
	outline: none;
}



.signup_link{
	margin: 30px 0;
	padding-bottom: 10px;
	text-align: center;
	font-size: 16px;
	color: #f5f1f1;
}

.signup_link a{
	color:black;
	text-decoration: none;
}

.signup_link a:hover{
	text-decoration: underline;
	
}

.remember{
	display: inline-block;
	color: rgb(240, 236, 236);

}

input[type="checkbox"]{

	
	font-family: monospace;
	height: 12px;

}

.doc{
	display: inline-block;
	color: rgb(251, 250, 250);

}
span.rem{
	font-size: 14px;

}

input[type="submit"]:hover{
	background-color: #2596be;
	color: white;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
  }
