@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

body {
	font-family: roboto,Arial, Helvetica, sans-serif;
	background-image: url("login.jpg");
	background-size: 400% 400%;
  background-size: cover;
	height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
	
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


* {box-sizing: border-box}

/* Add padding to container elements */
.container {
  
    padding: 20px;
      width:750px;
    position: absolute;
   
    
      border:0.1px solid #2596be;
      border-radius:10px;
      background-color:#2596be;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 580px;

  -webkit-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
  -moz-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
  box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);


  opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
	font-family: roboto,Arial, Helvetica, sans-serif;
  border-radius: 20px;
}
select {
  width: 18%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
	font-family: roboto,Arial, Helvetica, sans-serif;
}

input[type=phone] {
  width: 81%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
  border-radius: 25px;
}

input[type=text]:focus, input[type=password]:focus, input[type=phone]:focus, select:focus {
  background-color: #ddd;
  outline: none;
}



/* Set a style for all buttons */
button {
  background-color: #f1f5f6;
  color: #2596be;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
	font-size:16px;
  font-weight: bold;
	font-family: roboto,Arial, Helvetica, sans-serif;
	border-radius:10px;
}

button:focus{
  border: solid 2px black;
}

button:hover {
  opacity:1;
  background-color: #2596be;
  color: white;
  border: solid 2px white;
}


/* Change styles for signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
     width: 100%;
  }
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.youtubeBtn{
    position: fixed;
    right: 20px;
  transform:translatex(-50%);
    top: 20px;
    cursor: pointer;
    transition: all .3s;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
  background:#000;
  padding:2px 10px;
  border-radius:5px;
}
.youtubeBtn i{
   font-size:20px;
  float:left;
}
.youtubeBtn a{
    color:#ff0000;
    animation: youtubeAnim 1000ms linear infinite;
  float:right;
}
.youtubeBtn a:hover{
  color:#c9110f;
  transition:all .3s ease-in-out;
}
.youtubeBtn i:active{
  transform:scale(.9);
  transition:all .3s ease-in-out;
}
.youtubeBtn span{
    font-family: 'Lato';
    font-weight: bold;
    color: #fff;
    display: block;
    font-size: 12px;
    float: right;
    line-height: 20px;
    padding-left: 5px;
  
}

@keyframes youtubeAnim{
  0%,100%{
    color:#c9110f;
  }
  50%{
    color:#ff0000;
  }
}

label{
  color: white;
}

h1,p{
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
