<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Medical History</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
  <link href="{{ url_for('static',filename = 'historyUser.css')}}" rel="stylesheet">
</head>

<body>
  <div class="container">
    <h1>Medical History</h1>

    <table class="medical-history">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Diagnosis</th>
          <th>Treatment</th>
          <th>Prescription</th>
        </tr>
      </thead>

      <tbody>
        {% for row in data %}
          <tr>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <form method ="POST">
      <button class = "upload-button" name = "up">Upload</button>
      <button class = "upload-button" name = "pro">Profile</button>
  </div>
</body>
</html>

